<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZ-hbnuFf70tKLK3ERMKPBb-MgVUFda0s</string>
	<key>GCM_SENDER_ID</key>
	<string>669110726884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gowaggon.car.inspection.inspection</string>
	<key>PROJECT_ID</key>
	<string>gowaggon</string>
	<key>STORAGE_BUCKET</key>
	<string>gowaggon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669110726884:ios:d1803115ecedee9a1cfcf1</string>
	<key>DATABASE_URL</key>
	<string>https://gowaggon-default-rtdb.firebaseio.com</string>
</dict>
</plist>